/**{
    outline: 2px red solid;
}
*/
:root{
    --font-family: "Red Hat Display", sans-serif;
    --bg-color: #788698;
    --calculator-color-border: #001e34;
    --keys-color: #002b4a;
    --keys-equal: #ffa800;
    --text-color: #fff;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--bg-color);
}

.container{
    display: flex;
    flex-direction: column;
    border: 6.05px solid #001e34;
    border-radius: 37px;
    width: 396px;
    height: 854px;
    background: var(--calculator-color-border);
}

.container-display{
    height: 442px;
    position: relative; 
}

.top-container{
    width: 396px;
    height: 74px;
    background: var(--keys-equal);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.top-container h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: var(--text-color)
}


.display-result{
    position: absolute;
    bottom: 17px;
    right: 18px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 65px;
    color: var(--text-color);
}


.container-operations{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.row{
    display: flex;
    align-items: center;
    
}


.white-text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    color: var(--text-color);
}

.orange-text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    color: var(--keys-equal);
}

.btn-bg-color-orange{
    background: var(--keys-equal);
}

.btn-clear{
    display: flex;
    border: 1.88px solid #001e34;
    width: 290px;
    height: 79px;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.btn-size-prop{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.88px solid #001e34;
    width: 95px;
    height: 79px;
    background: var(--keys-color);
    margin: 2px;
}

.row img{
    height: 30px;
}

.btn-dot{
    border-bottom-left-radius: 30px;
}

.btn-equal{
    border-bottom-right-radius: 30px;
    background: var(--keys-equal);
}
